body {
  width: 1440px;
  height: 6575px;
  font-family: "Roboto";
}

h1 {
  font-family: "Roboto Slab";
  font-size: 55px;
  font-weight: 700;
  margin-left: 121px;
}

ul li {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  width: 662px;
  margin-left: 138px; 
}

.steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 37px;
  margin-left: 84px;
}

img {
  width: 399px;
  height: 160px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

section h2 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 20px;
}

section p {
  font-size: 25px;
}

.date {
  margin: 10px auto 0px 20px;
}

.name {
  margin: 0px auto 15px 20px;
}

section {
  width: 399px;
  height: 328px;
  border-radius: 30px;
  box-shadow: 1px 1px 15px 0px #00000040;
  margin-top: 20px;
}